.top-bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background: #0e1217;
  z-index: 1000; /* Ensure top bar is above other content */
}

.project-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.project-info h1 {
  margin: 0;
  margin: 8px;
  padding: 4px;
}

.github-link {
  margin-right: 20px;
}

.github-link a {
  text-decoration: none;
  color: #fff;
}
